extends layout

block content
  .chew-page
    .chew-player#player
      .chew-player-window-bar#hide
        h3#player-close.close-btn
          | X
      .chew-player-content#hide
        h4
          | Music player being constructed!!
    .chew-banner
      .chew-banner-img
        img(alt='My teeth before the wisdom\'s we\'re removed' src='assets/img/svg/chew.svg' onerror='this.src=\'assets/img/png/chew.png\'').chew-banner-img-content
      .chew-banner-content
        h1.chew-banner-content-title
          | mcdjchew
        h4.chew-banner-content-subtitle
          | The
          span(style='color: #9B51E0;')
            | &nbsp;chopped&nbsp;
          | mind of
          span(style='color: #ec6b4e;')
            | &nbsp;brwnrclse
          |.
    .chew-catalog#catalog
      .chew-catalog-window-bar#hide
        h3#catalog-close.close-btn
          | X
      .chew-catalog-content#hide
        h4
          | Catalog coming soon!
        a(href='https://soundcloud.com/brown-recluse-3/empty-chew')
          h3
            | <em class='underline'>Start here for now</em>
