@import 'variables'
@import 'typography'

html
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw
body
  align-content center
  align-items center
  align-self center
  background-color $black
  color $white
  display flex
  height 100%
  justify-content center
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  order 0
  overflow-y hidden
  width 100%

.chew
  &-page
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow row nowrap
    height 100%
    justify-content space-between
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%
  &-banner
    align-content center
    align-items center
    align-self center
    display flex
    flex-flow column nowrap
    height 75%
    justify-content center
    left 0
    margin-left auto
    margin-right auto
    max-height 75%
    max-width 50%
    min-height 75%
    min-width 50%
    order 1
    position absolute
    right 0
    width 50%

    &-content
      align-content center
      align-items center
      align-self center
      display flex
      flex-flow column nowrap
      height 15%
      justify-content space-around
      max-height 15%
      max-width 50%
      min-height 15%
      min-width 50%
      text-align center
      width 50%

      &-title
        align-content center
        align-items center
        align-self center
        display flex
        height 60%
        justify-content center
        max-height 60%
        max-width 75%
        min-width 75%
        min-height 60%
        vertical-align middle
        width 75%
      &-subtitle
        align-content center
        align-items center
        align-self center
        display flex
        height 30%
        justify-content center
        max-height 30%
        max-width 75%
        min-height 30%
        min-width 75%
        vertical-align middle
        width 75%

    &-img
      align-content center
      align-items center
      align-self center
      display flex
      height 50%
      justify-content center
      max-height 50%
      max-width 50%
      min-height 50%
      min-width 50%
      width 50%

      &-content
        height 100%
        max-height 100%
        min-height 100%

.error
  &-banner
    text-align center
  &-container
    align-content center
    align-items center
    cursor alias
    display flex
    height 100%
    justify-content center
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    text-decoration underline
    width 100%
  &-link
    cursor alias

@import 'catalog'
@import 'player'
