.chew-player
  align-content center
  align-items center
  align-self center
  background-color $player-color
  border-radius 9px
  box-shadow 9px -9px $tab-shadow-color
  display flex
  flex-flow column nowrap
  height 75%
  justify-content center
  left 0
  max-height 75%
  max-width 75%
  min-height 75%
  min-width 5%
  order 0
  position fixed
  width 5%
  z-index 10000000000

  &-content
    align-content center
    align-items center
    align-self center
    display flex
    height 90%
    flex-flow column nowrap
    justify-content center
    max-height 90%
    max-width 100%
    min-height 90%
    min-width 100%
    width 100%
  &-window-bar
    align-content center
    align-items center
    align-self center
    display flex
    height 10%
    justify-content flex-end
    max-height 10%
    max-width 95%
    min-height 10%
    min-width 95%
    width 95%
