//
// Styles for chew
// ====================
//
//

//
// Colors
//
//
$black = #212121
$white = #FAFAFA
$red = #E71d36
$yellow = #e3b505
$blue = #2de1fc

$catalog-color = #9B51E0
$player-color = #EC6B4E
$request-color = #5dd39e
$tab-shadow-color = #828282

#hide
  display none

.close-btn
  cursor pointer

.underline
  text-decoration underline

//
// Animations
//
//

.slide
  &-out
    animation-duration 2s
    animation-fill-mode forwards
    animation-name slide-out
    animation-timing-function linear
  &-in
    animation-duration 2s
    animation-fill-mode forwards
    animation-name slide-in
    animation-timing-function linear

@keyframes slide-out
  0%
    width 5%
  25%
    width 22.5%
  50%
    width 40%
  75%
    width 57.5%
  100%
    width 75%

@keyframes slide-in
  0%
    width 75%
  25%
    width 57.5%
  50%
    width 40%
  75%
    width 22.5%
  100%
    width 5%
